Hi {name},<br>
<br>
you wanted to be notified via {email} of new comments on<br>
{link_topic}.<br>
<br>
To verify your wish, to receive notifications to this topic, please click here:<br>
<br>
{verificationLink}<br>
<br>
<br>
<hr>
<br>
<br>
If you don't want to receive notifications, or you haven't subscribed yourself, click here:<br>
<br>
{link_unsubscribe_topic}<br>
<br>
<br>
To entirely unsubscribe from {server} (never receive any notifications from {server} again) click here:<br>
<br>
{link_unsubscribe_site}<br>
<br>
<br>
Best regards,<br>
{server}<br>
<br>
